<section class="jumbotron text-center">
    <div class="container">
      <h1>Poll</h1>
    </div>
  </section>
<form [formGroup]= 'pollForm' (submit)="pollSubmit()">
  <div class="input-group form-group">
    <input  class="form-control" aria-label="With textarea" formControlName="question" placeholder="Enter Poll Question here" required>

  </div>
  <div class="alert alert-danger" *ngIf="f.question.errors && f.question.errors.maxlength">enter less that 50 charecters </div>


  <div class="row">
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans1" placeholder="Option-1" required>

      </div>
      <div class="alert alert-danger"  *ngIf="f.ans1.errors && f.ans1.errors.maxlength">enter less that 6 charectres </div>
    </div>

    <div class="col">
      <div class="input-group form-group"> 
        <input  class="form-control" formControlName="ans2" placeholder="Option-2" required>
      </div>
      <div class="alert alert-danger" *ngIf="f.ans2.errors && f.ans2.errors.maxlength">enter less that 6 charectres </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans3" placeholder="Option-3">
      </div>
      <div class="alert alert-danger"  *ngIf="f.ans3.errors && f.ans3.errors.maxlength">enter less that 6 charectres </div>

    </div>
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans4" placeholder="Option-4">
      </div>
      <div class="alert alert-danger"  *ngIf="f.ans4.errors && f.ans4.errors.maxlength">enter less that 6 charectres </div>

    </div>
  </div>

  <span>Select time to display:</span>
  <div class="form-group" >
  <input formControlName="displayTime" [ngxTimepicker]="picker" [format] =24>
  <ngx-material-timepicker format = 24 #picker></ngx-material-timepicker>
</div>
  <div class='justify-content-center' >
    <button type="submit" class="btn btn-lg btn-block btn-info"  [disabled]= "pollForm.invalid">submit</button>  
  </div>
</form>


