
   <section class="jumbotron text-center">
    <div class="container">
      <h1>Apptitude</h1>
    </div>
  </section>
<form [formGroup]= 'appForm'>
  <div class="input-group form-group">
   
    <textarea class="form-control" aria-label="With textarea" formControlName="question" placeholder="Enter Apptitude Question Here"></textarea>
  </div>
  <div *ngIf="f.question.errors && f.question.errors.maxlength">enter less that 30 charecters </div>


  <div class="row">
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans1" placeholder="Option-1">

      </div>
      <div *ngIf="f.ans1.errors && f.ans1.errors.maxlength">enter less that 6 charectres </div>
    </div>

    <div class="col">
      <div class="input-group form-group"> 
        <input  class="form-control" formControlName="ans2" placeholder="Option-2">
      </div>
      <div *ngIf="f.ans2.errors && f.ans2.errors.maxlength">enter less that 6 charectres </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans3" placeholder="Option-3">
      </div>
      <div *ngIf="f.ans3.errors && f.ans3.errors.maxlength">enter less that 6 charectres </div>

    </div>
    <div class="col">
      <div class="input-group form-group">
        <input  class="form-control" formControlName="ans4" placeholder="Option-4">
      </div>
      <div *ngIf="f.ans4.errors && f.ans4.errors.maxlength">enter less that 6 charectres </div>
    </div>
  </div>

  <div class="input-group form-group">
    <input  class="form-control" formControlName="correctAns" placeholder="Correct Answer">
  </div>
  <div *ngIf="f.correctAns.errors && f.correctAns.errors.maxlength">enter less that 6 charectres </div>
</form>

<div class='justify-content-center' >
  <button type="button" class="btn btn-lg btn-block btn-info"  (click)='onSubmit()' [disabled]= "appForm.invalid">submit</button>  
</div>
