<section class="jumbotron text-center">
    <div class="container">
      <h1>Learning Pad Manual Content Uploader Tool</h1>
      <p class="lead text-muted">This App will let you post Poll, Posts, Funfacts and other options manually to the API for the view in Learning Pad Application.</p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </section>