<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0);" (click)='home()'>Learning Pad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active"  href="javascript:void(0);" (click)='routeTod()'>Thought Of The Day <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='routeToPoll()'>Poll</a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='routeToFunFact()'>Fun Fact</a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='announce()'>Announcements</a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='apptitude()'>Aptitude</a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='word()'>Word Of Day</a>
        <a class="nav-item nav-link" href="javascript:void(0);" (click)='feed()'>Feed</a>
        
      </div>
    </div>
  </nav>


  
<router-outlet></router-outlet>