<section class="jumbotron text-center">
    <div class="container">
      <h1>Feed</h1>
    </div>
  </section>

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
      <form #form='ngForm' autocomplete="off">
        <input  class="form-control" placeholder="fullname">
      </form>
    </div>
    <div class="form-group">
      <form #form='ngForm' autocomplete="off">
        <input  class="form-control" placeholder="fullname">
      </form>
    </div>
    </div>
  </div>