<section class="jumbotron text-center">
    <div class="container">
      <h1>Fun Fact</h1>
    </div>
  </section>
<form [formGroup]= 'funFactForm' (submit)='funFactSubmit()'>
  <div class="input-group form-group">
    <input class="form-control" aria-label="With textarea" formControlName="question" placeholder="Enter FunFact Question Here(Front Card)" required > 

  </div>
  <div class="alert alert-danger"  *ngIf="f.question.errors && f.question.errors.maxlength">enter less that 50 charecters </div>

  <div class="input-group form-group">
    <input class="form-control" aria-label="With textarea" formControlName="ans" placeholder="Enter FunFact Answer Here(Back Card)" required > 

  </div>
  <div class="alert alert-danger"  *ngIf="f.ans.errors && f.ans.errors.maxlength">enter less that 50 charectres </div>

  <div class='justify-content-center' >
    <button type="submit" class="btn btn-lg btn-block btn-info"  [disabled]= "funFactForm.invalid">submit</button>  
  </div>

</form>



