<section class="jumbotron text-center">
    <div class="container">
      <h1>Fun Fact</h1>
    </div>
  </section>
<form [formGroup]= 'funFactForm'>
  <div class="input-group form-group">

    <textarea class="form-control" aria-label="With textarea" formControlName="question" placeholder="Enter FunFact Question Here"></textarea>
  </div>
  <div *ngIf="f.question.errors && f.question.errors.maxlength">enter less that 30 charecters </div>

  <div class="input-group form-group">

    <textarea class="form-control" aria-label="With textarea" formControlName="ans" placeholder="Enter FunFact Answer Here"></textarea>
  </div>
  <div *ngIf="f.ans.errors && f.ans.errors.maxlength">enter less that 6 charectres </div>

</form>


<div class='justify-content-center' >
  <button type="button" class="btn btn-lg btn-block btn-info" (click)='funFactSubmit()' [disabled]= "funFactForm.invalid">submit</button>  
</div>
