<section class="jumbotron text-center">
    <div class="container">
      <h1>Fun Fact</h1>
    </div>
  </section>
<form [formGroup]= 'funFactForm'>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Question</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" formControlName="question"></textarea>
  </div>
  <div *ngIf="f.question.errors && f.question.errors.maxlength">enter less that 30 charecters </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Answer</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" formControlName="ans"></textarea>
  </div>
  <div *ngIf="f.ans.errors && f.ans.errors.maxlength">enter less that 6 charectres </div>

</form>


<div class='row justify-content-center' >
  <button type="button" class="btn btn-primary" (click)='funFactSubmit()' [disabled]= "funFactForm.invalid">submit</button>  
</div>
