<section class="jumbotron text-center">
    <div class="container">
      <h1>Announcements</h1>
    </div>
  </section>

  <form [formGroup]= 'announceForm' (submit)='onSubmit(announceForm.value)'>
    <span>Enter Announcement Below:</span>
    <div class="input-group form-group">
      <textarea class="form-control" aria-label="With textarea" formControlName="announcement" placeholder="Enter Announcement Here" required></textarea>
    </div>
    <div class='alert alert-danger'  *ngIf="f.announcement.errors && f.announcement.errors.maxlength">enter less that 500 charecters </div>

    <span>Enter Announcement Link:</span>
    <div class="input-group form-group">
      
      <textarea class="form-control" aria-label="With textarea" formControlName="announceLink" placeholder="Enter Link Here"></textarea>
    </div>

    <div class="form-group" >
      Select Category:
      <select formControlName="category" class = "form-control" required>
        <option value= "Scroll" selected> Scroll</option>
        <option value= "Button" > Button</option>
        <option value= "Static" > Static</option>

      </select>
    </div>

    <!-- <div class="form-group">
      <input type='file' class="form-control" formControlName='imageUrl' (change)="onFileSelected($event)"> 
    </div> -->
    <span>Select time to display:</span>
    <div class="form-group" >
    <input formControlName="displayTime" [ngxTimepicker]="picker" [format] =24>
    <ngx-material-timepicker format = 24 #picker></ngx-material-timepicker>
  </div>

    <div class='justify-content-center form-group' >
      <button type="submit" class="btn btn-lg btn-block btn-info"  >submit</button>  
    </div>
    </form>



    

