<section class="jumbotron text-center">
    <div class="container">
      <h1>Courses</h1>
    </div>
  </section>

  <form [formGroup]= 'courseForm' (submit)="courseSubmit(courseForm.value)">
    <!-- <input  class="form-control" formControlName="name" placeholder="give your name yo" required> -->


    <div class="row">
        <div class="col">
         
            <div class="form-group" >
                <select formControlName="category" class = "form-control"  required>
                    <option value="" selected hidden>Select...</option>
                    <option value= "English" selected> English</option>
                  <option value= "Chemistry" > Chemistry</option>
                  <option value= "Physics" > Physics</option>
                 <option value= "Mathematics" > Mathematics</option>
                </select>
            </div>

          <!-- <div class='alert alert-danger' *ngIf="f.ans1.errors && f.ans1.errors.maxlength">enter less that 10 charectres </div> -->
        </div> 
        <div class="col">
            <div class="input-group form-group">
                <input  class="form-control" formControlName="topicName" placeholder="Topic-Name" required>
              </div>
            <!-- <div  class='alert alert-danger' *ngIf="f.ans2.errors && f.ans2.errors.maxlength">enter less that 10 charectres </div> -->  
          </div>

          <div class="col">
            <div class="input-group form-group"> 
              <input  class="form-control" formControlName="subTopicName" placeholder="Sub-Topic-Name" required>
            </div>
            <!-- <div  class='alert alert-danger' *ngIf="f.ans2.errors && f.ans2.errors.maxlength">enter less that 10 charectres </div> -->
      
          </div>
      </div>


      <div class="input-group form-group">
   
        <textarea class="form-control" aria-label="With textarea" formControlName="description" placeholder="Enter Description Here" required></textarea>
      </div>


      <div class="row">
        <div class="col">
         
            <div class="form-group" >
                <input  class="form-control" formControlName="price" placeholder="Enter Price" required>

            </div>
          <!-- <div class='alert alert-danger' *ngIf="f.ans1.errors && f.ans1.errors.maxlength">enter less that 10 charectres </div> -->
        </div> 
        <div class="col">
            <div class="form-group" >
                <input  class="form-control" formControlName="discountPercentage" placeholder="Enter Discount" required>

            </div>
            <!-- <div  class='alert alert-danger' *ngIf="f.ans2.errors && f.ans2.errors.maxlength">enter less that 10 charectres </div> -->  
          </div>

      </div>
      

      <div class="input-group form-group">
        <input  class="form-control" formControlName="title" placeholder="Title-Name" required>
      </div>


      <div class="row">
        <div class="col">
         
            <div class="form-group" >
                <select formControlName="difficulty_level" class = "form-control"  required>
                    <option value="" selected disabled hidden>Please select...</option>
                    <option value= "1" selected> 1</option>
                  <option value= "2" > 2</option>
                  <option value= "3" > 3</option>
                 <option value= "4" > 4</option>
                 <option value= "5" > 5</option>
                </select>
            </div>

          <!-- <div class='alert alert-danger' *ngIf="f.ans1.errors && f.ans1.errors.maxlength">enter less that 10 charectres </div> -->
        </div> 

      </div>

      
      <div class="form-group">
        <span class= "image-color" >Upload Image:</span>
        <input type='file' class="form-control" formControlName='imageUrl' (change)="onFileSelected($event)"> 
      </div>
      


<div class='justify-content-center' >
  <button type="submit" class="btn btn-lg btn-block btn-info"  [disabled]= "courseForm.invalid">submit</button>  
</div>
    </form>
