<section class="jumbotron text-center">
    <div class="container">
      <h1>Word Of The Day</h1>
    </div>
  </section>

<form [formGroup] = 'wordForm'>
  <div class="input-group form-group">

    <textarea class="form-control" aria-label="With textarea" formControlName="word" placeholder="Enter The Word Here"></textarea>
  </div>
  <div *ngIf="f.word.errors && f.word.errors.maxlength">enter less that 50 charecters </div>
</form>

<form [formGroup] = 'wordForm'>
  <div class="input-group form-group">

    <textarea class="form-control" aria-label="With textarea" formControlName="word" placeholder="Explain The Word"></textarea>
  </div>
  <div *ngIf="f.word.errors && f.word.errors.maxlength">enter less that 50 charecters </div>
</form>


<div class="input-group mb-3 form-group">

  <div class="custom-file">
    <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="file">Choose image</label>
  </div>
</div>


<div class='justify-content-center' >
<button type="button" class="btn btn-lg btn-block btn-info" (click)='onSubmit()' [disabled]= "wordForm.invalid">submit</button>  
</div>
